{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UDYAM 2016 |{% block title %} {% endblock %}</title>

    {% block css %}
        <link href="{% static 'css/materialize.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <!-- Scroll Animation Initialize -->
    <style> [data-sr] { visibility: hidden; } </style>         
</head>
<body>
    <div class="green-mint">
        <div id="particles-js" class="green-wine"></div>
        {% block body %}
        {% endblock %}
    </div>
    {% block js %}
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
    <script src='{% static "js/scrollReveal.min.js" %}'></script>
    <script src="{% static 'js/laurenz.js' %}"></script>
    {% endblock %}
</body>
</html>
