{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UDYAM 2016 |{% block title %} {% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-flat.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>
<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">UYDAM 2016</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
            <li><a class="btn" data-target="#register_modal" data-toggle="modal">Register</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="modal modal-wide fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h3 id="myModalLabel">Team Registration</h3>
          </div>
          <div class="modal-body">
            <div class="container">
                <div class="col col-md-10">
                  <form class="form-horizontal" method="post" id="register_form" >
                      {% csrf_token %}
                      <div class="form-group">
                          <label id="event_label" class="control-label col-xs-2">Event :</label>
                          <div class="col-xs-6">
                              <select class="form-control" id="event_name" required>
                                  <option value="code42day">CODE-4-2-DAY</option>
                                  <option value="codedef">CODEDEF</option>
                                  <option value="continnum">CONTINNUM</option>
                                  <option value="commnet">COMMNET</option>
                                  <option value="digisim">DIGISIM</option>
                                  <option value="embedtron">EMBEDTRON</option>
                                  <option value="funckit">FUNCKIT</option>
                                  <option value="ichip">I-CHIP</option>
                                  <option value="ignite">IGNITE</option>
                                  <option value="krypto">KRYPTO</option>
                                  <option value="mosaic">MOSIAC</option>
                                  <option value="muse">MUSE</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <label id="team_lable" class="control-label col-xs-2">Team Name:</label>
                          <div class="col-xs-6">
                              <input type="text" name="team_name" class="form-control" required>
                          </div>
                      </div>
                      <div class="form-group">
                          <fieldset id="tr_field">
                              <legend style="text-align: center;">Team Representative:</legend>
                              Name: <input type="text" name="member1_name" required>&emsp;&emsp;
                              Contact Number: <input type="text" name="member1_contact" required>&emsp;&emsp;
                              Email: <input type="email" name="member1_email" required>&emsp;&emsp;
                          </fieldset>
                      </div>
                          <br>
                      <div class="form-group" id="members_div">
                          <legend id = 'legend'>
                              <div class="container">
                                  <div class="col-md-10 align-center">
                                      <p style="text-align: center;"> Team Members:</p>
                                  </div>
                                  <div class="col-md-2">
                                      <div class="form-group">
                                          <button type="button" class="btn btn-default btn-sm btn-success" onclick="add_member()">
                                              <span class="glyphicon glyphicon-plus-sign"></span>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </legend>
                      </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" form="register_form">Register</button>
            </div>
      </div>
    </div>
  </div>
  {% block body %}
  {% endblock %}
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Copyright &copy; 2014-2016 UDYAM</p>
    </div>
  </footer>
  <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>
      // Global variables
      var max_members = 5;
      var counter = 1;
      // TODO change as per event
      var events = {"code42day" :"5",
                    "codedef" :"1",
                    "continnum" :"5:",
                    "commnet" :"5",
                    "digisim" :"5",
                    "embedtron" :"5",
                    "funckit" :"5",
                    "ichip" :"5",
                    "ignite" :"5",
                    "krypto" :"5",
                    "mosaic" :"5",
                    "muse" :"5"
                    };

      window.onload = function(){
        document.getElementById('event_name').selectedIndex = -1;
      };

      $("#event_name").on("change", function(e){
          max_members = parseInt(events[$('#event_name option:selected').val()])
          if( $("#m" + (max_members+1) + "_field").length > 0){
              var i = max_members + 1;
              while(i <= 5){
                  $("#m"+(i)+"_field").remove();
                  i++;
              }
              counter = max_members;
          }
      });
    function add_member(){
        //dynamically adds a member to the team
        if(counter >= max_members){
            alert("Maximum "+max_members+" is/are allowed in "+$('#event_name option:selected').text()+" event");
        }
        else{
            counter++;
            var text =  '<fieldset id="m'+counter+'_field"> \
                            Name: <input type="text" name="member'+counter+'_name" required>&emsp;&emsp;\
                            Contact Number: <input type="text" name="member'+counter+'_contact" required>&emsp;&emsp; \
                            Email: <input type="email" name="member'+counter+'_email" required>&emsp;&emsp;\
                            <button type="button" class="btn btn-default btn-sm btn-warning" \
                                onclick="remove_member(' + "'m"+counter+"_field'"+')"> \
                                <span class="glyphicon glyphicon-minus-sign"></span>\
                            </button>\
                        </fieldset>';
            $("#members_div").append(text);
        }
    }
    function remove_member(tag){
        $('#'+tag).remove();
        $("fieldset").each(function(index, element) {
            $(this).attr("id", "m" +(index+1)+"_field");
            $child = $(this).children('input');
            $child.eq(0).attr("name", "member"+(index+1)+"_name");
            $child.eq(1).attr("name", "member"+(index+1)+"_contact");
            $child.eq(2).attr("name", "member"+(index+1)+"_email");
            $(this).children("button").eq(0).attr("onclick","remove_member('m"+(index+1)+"_field')");
        });
        counter--;
    }

    $('#register_form').submit(function(){
      var registrationData = {
        'event': $('#event_name option:selected').val(),
        'team_name': $('input[name=team_name]').val(),
        'main_contact': {
            'name': $('input[name=member1_name]').val(),
            'contact': $('input[name=member1_contact]').val(),
            'email': $('input[name=member1_email]').val()
        },
        'team_details': []
      };
      var i = 1;
      while(i<=5) {
        registrationData.team_details.push({
          'name': $('input[name=member'+i+'_name]').val(),
          'contact': $('input[name=member'+i+'_contact]').val(),
          'email': $('input[name=member'+i+'_email]').val()
        });
        i++;
      }
      $.ajax({
        type: 'POST',
        url: '/',
          headers: { "X-CSRFToken": getCookie("csrftoken") },
          contentType: 'application/json; charset=utf-8',
        data: $.toJSON(registrationData),
        dataType: 'json'
      }).done(function(data) {
        console.log(data);
      });
    });
  </script>
</body>
</html>
