<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Electrify</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>Electrify</h2>
		<p>
Everything related to the electrical and electronics field under one roof.
Events Based on Analog and Digital designing, Arduinos, Embedded Systems and 
MATLAB.
</p>
<em>
Analog Tussle:
</em>
<p>
Enough of being Digitised, Think you know all about Analog, Well then take this test 
and find out.
</p>
<em>
Arduino Open:
</em>
<p>
This event is a battle of skill and technicality between teams who are expected to 
solve simple to complex problem statements based on their pre-existing knowledge 
of Arduino and interfacing with it.
</p>
<em>
Digilogica:
</em>
<p>
Do you think that Digital Design is just a boring course just about gates and logic? 
Well you’re in for a huge surprise! Welcome to the vast world of digital logic! Get 
ready to go beyond with counters, multiplexers, flip flops, encoders, decoders and 
much more and be prepared to be challenged at a whole new level!
</p>
<em>
Embition:
</em>
<p>
An event that will put to test your creativity and technical skills. You will find that 
your spelling skills are just as important as your coding!
</p>
<em>
Matmania:
</em>
<p>
The 4th generation Programming language and Interactive environment ‘MATLAB’ 
hackathon in QUARK 2016!
</p>
<a href="EventsRulebook.pdf" download>
	<button id="down" type="button" class="btn btn-primary" style="float:right">
		Download RuleBook
	</button>
</a>
	</div>
</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>