<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Initiatives</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>Initiatives</h2>
<p>
Do you want to contribute to the society? 
Do you want to make a better place to live in?
Do you want to save the world and become a Superhero?
Here is your chance!
</p>
<em>
My Green Idea:
</em>
<p>
Ideas are abound when you have the conviction to bring about a change around you.
This event is a platform for you to challenge your intellect. Research, build and come 
up with ideas that can potentially save the world and become a superhero!
</p>
<em>
Design for Disaster:
</em>
<p>
Provide preventive measures to mitigate the effects of the disaster.
</p>
<em>
Principle Venture:
</em>
<p>
Technology has evolved to drive society out of its binding shackles over centuries. 
Here is a platform for you to attempt and come up with a technological resolution for 
the impediments that society faces.
</p>
<em>
Smart Cities, Smart Solutions:
</em>
<p>
This event requires one to come up with such solutions that make Indian cities 
smarter and provide a sustainable and decent quality of life to its citizens.
</p>
<a href="EventsRulebook.pdf" download>
	<button id="down" type="button" class="btn btn-primary" style="float:right">
		Download RuleBook
	</button>
</a>
	</div>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>