<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Hello</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>Corporate</h2>
<p>Events designed for you to test yourself on a wide range of skills starting from 
Finance, Management right up to Marketing and Entrepreneurship.
</p>
<em>
Quest:
</em>
<p>
A B-Plan competition for all the young entrepreneurs out there!
A platform like no other to pitch your idea to renowned Venture Capitalists and Angel 
Investors and seek a chance to get that winning idea funded. 
</p>
<em>
Bluechip Beatdown: 
</em>
<p>
You think you can sell Ice in the arctic or a toothless comb?
Participate and test your Marketing Skills
</p>
<em>
Intellect:
</em>
<p>
A Case Study Competition where you have an opportunity to prove your Managerial 
skills. 
</p>
<em>
Wallstreet Revolution:
</em>
<p>
A live and exhilarating simulation of the actual stock market, crafted to mimic the 
stock market.
</p>
<em>
Youth Parliament:
</em>
<p>
It is a platform to put to test your leadership qualities, strategizing and decision-making
skills, team work and your way of keeping cool at
unfriendly situations. During the event, participants organize a parliament where
debates, discussions and law making takes place.
This event is only for school students
</p>
<a href="EventsRulebook.pdf" download>
	<button id="down" type="button" class="btn btn-primary" style="float:right">
		Download RuleBook
	</button>
	</a>
	</div>

</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>