{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
  	
	<title>Continuum</title>
</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>Introduction</h2>
<p  style=" text-align: left">Have you heard about the sixth sense technology developed by Pranav Mistry and have you ever thought of trying to implement a few of its basic features by yourself? If NO, then Google it silly. If YES, then we present you Mosaic, a platform where you are going to implement basic gesture recognition using image processing and machine learning techniques..
</p>
<h2>
Problem Statement:
</h2>
<p  style=" text-align: left">
Analogue signals are those in which information is represented by a continuously variable physical quantity such as spatial position, voltage etc. The event encapsulates the use of transducers to convert physical phenomenon into equivalent electrical signals. 'Continuum' focuses on design of circuits that are useful to derive meaning out of these continuously varying quantities. The event incorporates both actual realization of circuits and simulation while the latter shall aid the participants in case the circuits are voluminous.
</p>
<h2>
Event Structure:
</h2>
<p  style=" text-align: left">
Each team can consist of at max 2 members.<br>
Event consists of 3 rounds:<br>
1.) Simulation pre-event<br>
2.) Simulation main event<br>
3.) Quiz<br>
There would be an on spot quiz related to the concepts covered in workshop including basic RLC circuit analysis.
</p>
<h2>
Judging Criteria:
</h2>
<p  style=" text-align: left">
Marks distribution is as follows:<br>
1st round - 20%<br>
2nd round - 40%<br>
3rd round - 40%
</p>
<h2>
Contact Details:
</h2>
<p  style=" text-align: left">
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3">Tanu Hari Dixit</div>
            <div class="col m6">thari.dixit.ece13@iitbhu.ac.in</div>
            <div class="col m3">8604625596</div>
        </div>
        <div class="row">
            <div class="col m3">Bhanu Chaudhary</div>
            <div class="col m6">bhanu.chaudhary.ece13@iitbhu.ac.in</div>
            <div class="col m3">9454944758</div>
        </div>
    </div>
</p>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>