{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

	<title>Digisim Workshop</title>
</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>About Event</h2>
<p  style=" text-align: left">Analogue signals are those in which information is represented by a continuously variable physical quantity such as spatial position, voltage etc. The event encapsulates the use of transducers to convert physical phenomenon into equivalent electrical signals. 'Continuum' focuses on design of circuits that are useful to derive meaning out of these continuously varying quantities. The event incorporates both actual realization of circuits and simulation while the latter shall aid the participants in case the circuits are voluminous.
</p>
<h2>
Workshop I
</h2>
        <p  style=" text-align: left"><b>Topics covered:</b> General introduction of analog and digital, Filters
            <a class="btn" href="https://drive.google.com/a/itbhu.ac.in/file/d/0B4V4spKQiDTMZUlhMUc2QzRmMjQ/view">Slides</a><br>
</p>
Contact Details:
</h2>
<p  style=" text-align: left">
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3">Tanu Hari Dixit</div>
            <div class="col m6">thari.dixit.ece13@iitbhu.ac.in</div>
            <div class="col m3">8604625596</div>
        </div>
        <div class="row">
            <div class="col m3">Bhanu Chaudhary</div>
            <div class="col m6">bhanu.chaudhary.ece13@iitbhu.ac.in</div>
            <div class="col m3">9454944758</div>
        </div>
    </div>
</p>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>