<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Elixir</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>Elixir</h2>
<p>
Test of your grey matter, thrill of pillage and plunder, excitement of problem solving 
and a trail of literary events is what this panel has in store for you.
</p>
<em>
Quark International Quiz:
</em>
<p>
The ultimate test for your grey matter!
A National level Quizzing Competition based on Science, Technology and Business.
</p>
<em>
Ganimatoonics:
</em>
<p>
An amazing quiz for all the geeks interested in Games, Anime, Cartoons and Comics.
</p>
<em>
Edorado:
</em>
<p>
Pillage and plunder the treasure online!
</p>
<em>
Numb3rs:
</em>
<p>
For all those who love solving problems of mathematical nature and like to wrestle 
with logic, Numb3rs is the event for them. This is a competition where the 
participants will be able to test their aptitude and logical reasoning skills. 
</p>
<em>
Carpe Dictum:
</em>
<p>
Time to put all those hours spent in English class to good use!
A panel of literary events such as Pun Write-up, Creative Writing, Word games and
Cryptic Crossword, Poetry Slam and Literature Quiz.
</p>
<a href="EventsRulebook.pdf" download>
	<button id="down" type="button" class="btn btn-primary" style="float:right">
		Download RuleBook
	</button>
</a>
	</div>
</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>