{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

	<title>Digisim</title>
</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>Introduction</h2>
<p  style=" text-align: left">Digisim basically stands for digital simulation.
And digital simulation in layman terms can be expressed
as the running of a digital system’s model. Digisim, is
therefore a platform to explore and gain new insights into
technology and to estimate the performance of systems
without going into analytical solutions. Digisim is an event
where participants have to simulate complex digital
circuits. Participants will learn advanced circuit design and
simulation.
</p>
<h2>
Problem Statement:
</h2>
<p  style=" text-align: left">
Fascinated by contemporary processors like i7, i5 ,i3 etc. and want to explore their internal architecture ??<br>
If yes , then Digisim is the event for you.<br>
    <b>Participants will implement a subset of MIPS architecture (8 bit) with limited number of instructions in proteus.<br>
MIPS(Microprocessor Without Interlocked Pipeline Stage) is a reduced instruction set computer architecture primarily used in embedded systems such as routers , video games like PSP, PS2 etc.</b>
</p>
<h2>
Event Structure:
</h2>
<p  style=" text-align: left">
1. Each team consists of maximum of three participants.<br>
2. Each team need to implement a base minimum number of instruction to qualify.<br>
3. Teams will be judged on the basis of number instructions implemented by their architecture.<br>
4. Points will also be awarded for innovation in design.<br>
5. First year team will be judged separately for best first yearite.
</p>
<h2>
Judging Criteria:
</h2>
<p  style=" text-align: left">
Will be out soon!!!
</p>
<h2>
Contact Details:
</h2>
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3">Gaurav Bansal</div>
            <div class="col m6">gaurav.bansal.ece13@itbhu.ac.in</div>
            <div class="col m3">8085097916</div>
        </div>
        <div class="row">
            <div class="col m3">Abhiram Mishra</div>
            <div class="col m6">abhiram.mishra.ece13@iitbhu.ac.in</div>
            <div class="col m3">8004749773</div>
        </div>
        <div class="row">
            <div class="col m3">Harshil Jain</div>
            <div class="col m6">harshil.jain.ece13@iitbhu.ac.in</div>
            <div class="col m3">9602461388</div>
        </div>
    </div>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>