{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Drishti {% endblock %}
{% block css %}
    <link href="{% static 'css/my-slider.css' %}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block body %}
    <section id="sec-1">
    <div class="pushdown-5p"></div>
        <div class="container center">
            <div class="pushdown-5p"></div>
        <a href="{% url 'home' %}" >
            <div>
                <img id="image" src="{% static 'img/udyam.png' %}" title="Udyam 2k16" style="width: 500px; "/><br>
            </div>
        </a>
    <div class="pushdown-5p"></div>
            <h1 style="color: #888888">Drishti 2016</h1>
            <div class="pushdown-2p"></div>
            <div class="row white-text">
                <p>Drishti is an exhibition of a plethora of working solutions of the problem statements of previous year's UDYAM and yesteryears' AAYAM. Drishti is tailor-made to showcase the dedication of the participants. It stands as a dias for practical application of text-book knowledge. It serves as a golden opportunity to all the roads, be it the one less travelled by, or the opposite. Drishti is the window to how beautifully the participants have performed on both these roads.</p>
            </div>
            <div class="pushdown-5p"></div>
            <div class="ism-slider" data-transition_type="zoom" data-play_type="loop" data-interval="3000" data-radios="false" id="my-slider">
              <ol>
                <li><img src="{% static 'img/drishti/1.jpg' %}" alt="" title="Udyam" /></li>
                <li><img src="{% static 'img/drishti/2.jpg' %}" alt="" title="Udyam" /></li>
                <li><img src="{% static 'img/drishti/3.jpg' %}" alt="" title="Udyam" /></li>
                <li><img src="{% static 'img/drishti/4.jpg' %}" alt="" title="Udyam" /></li>
                <li><img src="{% static 'img/drishti/5.jpg' %}" alt="" title="Udyam" /></li>
                <li><img src="{% static 'img/drishti/6.jpg' %}" alt="" title="Udyam" /></li>
                <li><img src="{% static 'img/drishti/7.jpg' %}" alt="" title="Udyam" /></li>
              </ol>
            </div>
            <div class="pushdown-2p"></div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{% static 'js/ism-2.1-min.js' %}"></script>
{% endblock %}

