<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>BITSMUN</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>BITSMUN</h2>
<p>
BITSMUN is one of the fastest growing MUN conferences that takes place at India’s most sought-after holiday destination. One of the very few Indian MUNs that sees international participation, BITSMUN 2015 saw delegates coming all the way down to Goa from 9 different countries.
</p>
<br>
<p>
One of the most celebrated MUNs in India, the conference spans over a period of 3 days,where participants showcase their exemplary communication skills, be it first timers or seasoned MUNers from all over India. Every day at BITSMUN is unique in itself, with fantastic debate and social events. BITSMUN’14 saw a participation of over 350 delegates, making it one of the largest MUNs in the country.
</p>
<br>
<p>
Register for BITSMUN 2016 at:
</p>
<br>
<br>

<a href="http://www.bitsmungoa.in" target="_blank">
	<button id="down" type="button" class="btn btn-primary">
		Register Here
	</button>
</a>
	</div>
</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>