{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

	<title>Digisim</title>
</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>Introduction</h2>
<p  style=" text-align: left">If your favourite sport is to play with Microcontrollers
then this is the time to play with it and show your passion. <b>Embedtron</b>, as the name suggests, is an event
designed to test your mettle in the field of Embedded Electronics. This competition lays the perfect battleground for impassioned minds. So prove your calibre in thrilling platform of Embedded Design. It impels inquisitive spirits in to think beyond the usual.
</p>
<h2>
Problem Statement:
</h2>
<p  style=" text-align: left">
Will be out soon!!!
</p>
<h2>
Event Structure:
</h2>
<p  style=" text-align: left">
Will be out soon!!!
</p>
<h2>
Judging Criteria:
</h2>
<p  style=" text-align: left">
Will be out soon!!!
</p>
<h2>
Contact Details:
</h2>
<p  style=" text-align: left">
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3">Anesh Jain</div>
            <div class="col m6">anesh.jain.ece13@itbhu.ac.in</div>
            <div class="col m3">9026040833</div>
        </div>
    </div>
</p>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>