{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

	<title>Funckit Workshop</title>
</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>About Event</h2>
<p  style=" text-align: left">Engineers are the pioneers in implementation of scientific principles and technological innovations in the real world. The event is going to be two fold. In the first round one has to simulate the behavior of the system and then in second round one has to design the given system in the real world. The real world system design would allow the participants to deal with the problems encountered during the design process at first hand and on the other hand, Simulation forms the interconnecting bridge between laboratory research and field reality. Udyam provides a golden opportunity to young technocrats to deal with challenging issues of the industry by providing solutions using simulation tools like Matlab, Pspice, Proteus, MultiSIM etc.
</p>
<h2>
Workshop I
</h2>
        <p  style=" text-align: left"><b>Topics covered:</b> Basics of digital
            <a class="btn" href="https://drive.google.com/file/d/0B7QAH1bNXK4dX2tsamxOT2ZWdlk/view?usp=sharing">Slides</a><br>
</p><h2>
Workshop II
</h2>
        <p  style=" text-align: left"><b>Topics covered:</b> Flip-flops & latches
            <a class="btn" href="https://drive.google.com/file/d/0B7QAH1bNXK4dOFBIOGphZDVjYms/view?usp=sharing">Slides</a><br>
</p>
<h2>
Contact Details:
</h2>
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3">Pratyush Jain</div>
            <div class="col m6">pratyush.jain.ece13@itbhu.ac.in</div>
            <div class="col m3">7607614682</div>
        </div>
        <div class="row">
            <div class="col m3">Anushka Verma</div>
            <div class="col m6">anushka.verma.ece13@itbhu.ac.in</div>
            <div class="col m3">8005368297</div>
        </div>
    </div>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>