<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Specials</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>Specials</h2>
		<p>
A varied range of events to show off your technical (and gaming!) expertise.
Includes Events such as Paper Presentation, Poster Presentation and Open Showcase.
</p>
<em>
Open Showcase:
</em>
<p>
A platform where you get to promulgate your projects and models, and make your 
amazing skills of design and innovation known to the world.
</p>
<em>
Paper and Poster Presentation:
</em>
<p>
Whether you have a sensational discovery, a ground breaking idea or dedicated 
research, the Paper and Poster Presentation event offers you the platform to 
introduce it into the scientific world. So roll up your sleeves, crank the gears of your 
mind and show the world what you are capable of, in Quark 2016. 
</p>
<em>
Schoolbag: 
</em>
<p>
An event for schoolkids to compete with each other in an unusual themed test of 
intellectual acuity, featuring diabolical brain teasers, mind boggling whodunits, 
challenging sci-tech trivia, fundamental sciences and much more. Whet your lateral 
thinking, sharpen your deductive skills, get up to date with nerd trivia, and prepare to 
give your brain a thorough workout. 
</p>
<a href="EventsRulebook.pdf" download>
	<button id="down" type="button" class="btn btn-primary" style="float:right">
		Download RuleBook
	</button>
</a>
	</div>
</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>