{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

	<title>I-chip Workshop</title>
</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>About Event</h2>
<p  style=" text-align: left">Sponsored by: <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Mentor_Graphics_Logo.svg/1280px-Mentor_Graphics_Logo.svg.png" height="150" width="400" /><br>
    An HDL event: Now there is no need to manually place gates and transistors to build electronic circuits. Describe complex circuits at an abstract level in terms of functionality and data flow by designing those circuits in HDLs. This FPGA Design Contest requires one to write the code for the given problem statement in either VHDL or Verilog and optimize it, then dump the code on the FPGA Kit to physically realize the design that was coded.
</p>
<h2 style="color: black">
Workshop Details will be out soon !!!
</h2>
<h2>
Contact Details:
</h2>
<p  style=" text-align: left">
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3">Shubham Mantri</div>
            <div class="col m6">shubham.mantri.ece13@itbhu.ac.in</div>
            <div class="col m3">9455927695</div>
        </div>
        <div class="row">
            <div class="col m3">Arnab Mondal</div>
            <div class="col m6">arnab.mondal.ece13@itbhu.ac.in</div>
            <div class="col m3">9628248855</div>
        </div>
    </div>
</p>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>
