<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<link rel ="stylesheet" href = "http://q16.bits-quark.org/Events/css/bootstrap.css">
	<script type="text/javascript" src = "http://q16.bits-quark.org/Events/js/bootstrap.js"></script>
  	
	<title>Roboficial</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>Design and Build</h2>
		<p>
Fabricate, Delineate and Invigorate machines to compete in this test of creativity and 
skills that will leave you gasping for air! 
</p>
<em>
Burnout: 
</em>
<p>
Tune your RCs and rev your engines to witness and compete in a Nitro RC race car 
competition. Build. Steer. Burnout!
</p>
<em>
Contraption:
</em>
<p>
Enthrall everyone with you are ability to perform the most simplest of actions with 
an infinite array of steps using the simple concepts of Conservation of Energy and 
Momentum.
</p>
<em>
Mortar Kombat:
</em>
<p>
Aim high with your personalized Spud Guns and hit the bull's eye!
</p>
<em>
Trailblazers:
</em>
<p>
Make you aircrafts fly and get high legally!  
An events that tests maneuverability and speed of your planes.
</p>
<em>
Crèation:
</em>
<p>
A test of Creativity and your knowledge of modelling and designing is what this event 
is all about!
</p>
	<a href="EventsRulebook.pdf" download>
	<button id="down" type="button" class="btn btn-primary" style="float:right">
		Download RuleBook
	</button>
	</a>
	</div>

</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>