{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

	<title>Digisim</title>
</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>Introduction</h2>
<p  style=" text-align: left"><b>IGNITE</b> is the business plan contest conducted as a part of UDYAM the techno-management festival of Electronics Engineering Department, IIT(BHU), Varanasi. It seeks to identify budding entrepreneurs from around the country to contribute to India’s buzzing economy.<br> We believe new business ideas are the fuel for growth of any economy, especially a booming and developing economy like India. Our economy presents a diverse set of challenges, and hidden in them, opportunities for new business ventures. It endeavours to spur aspiring entrepreneurs to latch on to such opportunities and create success stories for the nation.
</p>
<h2>
Problem Statement:
</h2>
<p  style=" text-align: left">
Will be out soon!!!
</p>
<h2>
Event Structure:
</h2>
<p  style=" text-align: left">
Will be out soon!!!
</p>
<h2>
Judging Criteria:
</h2>
<p  style=" text-align: left">
Will be out soon!!!
</p>
<h2>
Contact Details:
</h2>
<p  style=" text-align: left">
<div class="row" style="color: #302E39"><!--
        <div class="row">
            <div class="col m3">Gaurav Bansal</div>
            <div class="col m6">gaurav.bansal.ece13@itbhu.ac.in</div>
            <div class="col m3">8085097916</div>
        </div>
        <div class="row">
            <div class="col m3">Abhiram Mishra</div>
            <div class="col m6">abhiram.mishra.ece13@itbhu.ac.in</div>
            <div class="col m3">8004749773</div>
        </div>
        <div class="row">
            <div class="col m3">Harshil Jain</div>
            <div class="col m6">harshil.jain.ece13@itbhu.ac.in</div>
            <div class="col m3">9602461388</div>
        </div>-->
    </div>
</p>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>