<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Programmers</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>Programmer’s Inc.</h2>
<p>So you think you can code? Here is your chance to prove it!
Programming Events that will prove to be the litmus test for any coder.
</p>
<em>
Codejam:
</em>
<p>
Do you believe not just in writing code but making it more efficient? If yes, this event 
is for you. Rack your brains to solve puzzles and real world problems and compete 
with people all across the nation and show off your programming skills.
</p>
<em>
Hackathon:
</em>
<p>
Do all you can in one night in an App and Web development contest. 
Eat. Sleep. Code!  
</p>
<em>
Reverse Coding:
</em>
<p>
This event involves the participant to guess the source code for a given application by 
testing different inputs and analyzing the output.
</p>
<em>
Binary Pirates:
</em>
<p>
A hacking competition that will test your coding skills along with your understanding 
of networking and web related concepts. 
<br>
So, gear up for whacking out the hacker in you!
</p>
<a href="EventsRulebook.pdf" download>
	<button id="down" type="button" class="btn btn-primary" style="float:right">
		Download RuleBook
	</button>
</a>
	</div>
</div>
</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>