{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->

	<title>Krypto Workshop</title>

</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>About Event</h2>
<p  style=" text-align: left">Does hacking attract you? Do you want to know how your confidential information is kept secret from hackers? <br>If your answer is YES! Then Cryptography is the field, answers you all these questions. Cryptography is the art and science of keeping information secure from unintended audiences. Conversely, cryptanalysis is the art and science of breaking encoded data.
                        <b>Udyam’16</b> presents you <b>Krypto</b>, an event, where you will learn how to protect your conversation safe from eavesdroppers and even how to break into secrets of others.
</p>
<h2>
Workshop I
</h2>
        <p  style=" text-align: left"><b>Topics covered:</b> Introduction to Cryptography,Classical Techniques, DES
            <a class="btn" href="https://drive.google.com/folderview?id=0B5cpGFrHZgOPNkNIb3hXVjNaZW8&usp=sharing">Slides</a><br>
</p>
<h2>
Contact Details:
</h2>
<p  style=" text-align: left">
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3">Hemant Kumar</div>
            <div class="col m6">hemant.kumar.ece13@iitbhu.ac.in</div>
            <div class="col m3">7752957495</div>
        </div>
        <div class="row">
            <div class="col m3">Shailesh Tripathi</div>
            <div class="col m6">shailesh.tripathi.ece13@iitbhu.ac.in</div>
            <div class="col m3">7754941801</div>
        </div>
        <div class="row">
            <div class="col m3">Neeraj Bansal</div>
            <div class="col m6">neeraj.bansal.ece13@iitbhu.ac.in</div>
            <div class="col m3">7754941621</div>
        </div><div class="row">
            <div class="col m3">Simran Chauhan</div>
            <div class="col m6">simran.chauhan.ece13@iitbhu.ac.in</div>
            <div class="col m3">7860734214</div>
        </div>
    </div>
</p>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->
</body>
</html>