{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

	<title>Mosaic Workshop</title>
</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>About Event</h2>
<p  style=" text-align: left">Have you heard about the sixth sense technology developed by Pranav Mistry and have you ever
thought of trying to implement a few of its basic features by yourself? If NO, then Google it silly. If
YES, then we present you Mosaic, a platform where you are going to implement basic <b>motion
tracking & gesture recognition</b> using image processing and machine learning techniques.<br>
You have to design a <b>Real Time Gesture Controlled Image Editor</b> implementing basic functionalities
like scaling, rotating, manipulating and saving the image.
</p>
<h2 style="color: black">
Workshop Details will be out soon !!!
</h2>
<h2>
Contact Details:
</h2>
<p  style=" text-align: left">
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3">Piyush Soni</div>
            <div class="col m6">piyush.soni.ece13@itbhu.ac.in</div>
            <div class="col m3">7752957837</div>
        </div>
        <div class="row">
            <div class="col m3">Nitin Goel</div>
            <div class="col m6">nitin.goel.ece13@itbhu.ac.in</div>
            <div class="col m3">9454271962</div>
        </div>
        <div class="row">
            <div class="col m3"> Arshiyan Alam </div>
            <div class="col m6">arshiyan.alam.ece13@itbhu.ac.in</div>
            <div class="col m3">8418950295</div>
        </div><div class="row">
            <div class="col m3"> Saloni Bhansali </div>
            <div class="col m6">saloni.bhansali.ece13@itbhu.ac.in</div>
            <div class="col m3">9826251501</div>
        </div>
    </div>
</p>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>
