<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<link rel ="stylesheet" href = "http://q16.bits-quark.org/Events/css/bootstrap.css">
	<script type="text/javascript" src = "http://q16.bits-quark.org/Events/js/bootstrap.js"></script>
  	
	<title>Roboficial</title>
</head>
<body>
	<div class="cd-fold-content single-page">
		<h2>Roboficial</h2>
		<p>
		Are you a Robotics fanatic? 
Here is a platform for you to show your zeal for robotics! To prove your mettle!
</p>
<em>Robo Kombat:</em>
<p>
Show your robotic acumen, blend your intellect & fighter instinct and explore the 
ideals of knighthood and their incongruity to combat armed forces opponent. 
Unleash your technical prowess and experience the thrill of ripping, shredding and 
destroying as the bots battle out their way to victory.
</p>
<em>RoboSoccer:</em>
<p>
Love Football ? Design a bot that can kick balls into enemy’s goal-post besides being a 
good goalkeeper. Play and kick your way to victory.
</p>
<em>Line Following:</em>
<p>
Discover how swiftly and sharply your bot can steer through the maze.
Follow in order to lead.
</p>
<em>RoboRace:</em>
<p>
Speed up or perish as you compete against other bots to the finish line. Feel the 
adrenaline rush in the ultimate race against time.	
</p>	
	<a href="EventsRulebook.pdf" download>
	<button id="down" type="button" class="btn btn-primary" style="float:right">
		Download RuleBook
	</button>
	</a>
	</div>

</body>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>