{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

	<title>Muse Workshop</title>
</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>About Event</h2>
<p  style=" text-align: left">"If you have an apple and I have an apple and we exchange these apples then you and I will still each have one apple. But if you have an idea and I have an idea and we exchange these ideas, then each of us will have two ideas." <br>
-George Bernard Shaw <b>MUSE</b>, the paper presentation provides an ideal platform for the thinkers of this generation. For those who wish to voice their innovative ideas in an effective manner, this event will provide them an opportunity to network, compete and grow with the best.
</p>
<h2 style="color: black">
Workshop Details will be out soon !!!
</h2>
<h2>
Contact Details:
</h2>
<p  style=" text-align: left">
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3">Sneha Priya</div>
            <div class="col m6">sneha.priya.ece13@iitbhu.ac.in</div>
            <div class="col m3">7275056419</div>
        </div>
        <div class="row">
            <div class="col m3">Pratyush Singh</div>
            <div class="col m6">pratyush.singh.ece13@iitbhu.ac.in</div>
            <div class="col m3">9506726213</div>
        </div>
    </div>
</p>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>