{% load staticfiles %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

	<title>Raspi Workshop</title>
</head>
<body>
	<div class="cd-fold-content single-page" id="main_page">
		<h2>About Event</h2>
<p  style=" text-align: left">Amongst the many surprises that UDYAM'16 unfolds is this new event on Raspberry Pie.Participants will get to know certain basics of computer science through a series of credit-card Sized single-board computers.
</p>
<h2 style="color: black">
Workshop Details will be out soon !!!
</h2>
<h2>
Contact Details:
</h2>
<p  style=" text-align: left">
<div class="row" style="color: #302E39">
        <div class="row">
            <div class="col m3">Pratyaksh Sharma</div>
            <div class="col m6">pratyaksh.sharma.ece12@iitbhu.ac.in</div>
            <div class="col m3">8127030223</div>
        </div>
        <div class="row">
            <div class="col m3">Sairam Tabibu</div>
            <div class="col m6">t.sairam.ece13@iitbhu.ac.in</div>
            <div class="col m3">8765416191</div>
        </div>
    </div>
</p>
        </div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
</body>
</html>
