{% extends 'base.html' %}

{% block title %}
Team registration UDYAM-2016
{% endblock %}

{% block body %}
    <form method="post" id="register_form">
        {% csrf_token %}
        <label>
             Event :
             <select>
                 <option value="code42day">CODE-4-2-DAY</option>
                 <option value="codedef">CODEDEF</option>
                 <option value="continnum">CONTINNUM</option>
                 <option value="commnet">COMMNET</option>
                 <option value="digisim">DIGISIM</option>
                 <option value="embedtron">EMBEDTRON</option>
                 <option value="funckit">FUNCKIT</option>
                 <option value="ichip">I-CHIP</option>
                 <option value="ignite">IGNITE</option>
                 <option value="krypto">KRYPTO</option>
                 <option value="mosaic">MOSIAC</option>
                 <option value="muse">MUSE</option>
             </select>
        </label>
        <br>
        <label>
            Team Name: <input type="text" name="team_name"> <br>
        </label>
        <fieldset>
            <legend>Team Representative:</legend>
            <label>
                Name: <input type="text" name="member1_name"> <br>
            </label>
            <label>
                Contact Number: <input type="text" name="member1_contact"> <br>
            </label>
            <label>
                Email address: <input type="email" name="member1_email"> <br>
            </label>
        </fieldset>
        <input type="button" value="Add Member" onclick="add_member()">
        <input type="button" value="submit">
    </form>
    <script>
        var max_members = 5;
        var counter = 1;
        function add_member(){
            //dynamically adds a member to the team
            if(counter >= max_members){
                alert("Maximum" + max_members + "number of allowed members in a team");
            }
            else{
                counter++;
                var new_field = document.createElement('fieldset');
                var new_legend = document.createElement('legend');
                new_legend.appendChild(document.createTextNode("Team member"+ (counter - 1)));
                new_field.appendChild(new_legend);
                var new_label = document.createElement('label');
                new_label.innerHTML = "Name: " + "<input type='text' name='member'+counter+'name'> <br>";
                new_field.appendChild(new_label);
                new_label.innerHTML = "Contact Number: " + "<input type='text' name='member'+counter+'contact'> <br>";
                new_field.appendChild(new_label);
                new_label.innerHTML = "Email address: " + "<input type='text' name='member'+counter+'email'> <br>";
                new_field.appendChild(new_label);
                var container = document.getElementById('register_form');
                container.appendChild(new_field)
            }
        }
    </script>
{% endblock %}