{% extends 'base.html' %}

{% block title %}
Team registration UDYAM-2016
{% endblock %}

{% block body %}
    <form method="post" id="register_form">
        {% csrf_token %}
        <label id="event_label">
             Event :
             <select>
                 <option value="code42day">CODE-4-2-DAY</option>
                 <option value="codedef">CODEDEF</option>
                 <option value="continnum">CONTINNUM</option>
                 <option value="commnet">COMMNET</option>
                 <option value="digisim">DIGISIM</option>
                 <option value="embedtron">EMBEDTRON</option>
                 <option value="funckit">FUNCKIT</option>
                 <option value="ichip">I-CHIP</option>
                 <option value="ignite">IGNITE</option>
                 <option value="krypto">KRYPTO</option>
                 <option value="mosaic">MOSIAC</option>
                 <option value="muse">MUSE</option>
             </select>
        </label>
        <br>
        <label id = "team_lable">
            Team Name: <input type="text" name="team_name"> <br>
        </label>
        <fieldset id="tr_field">
            <legend>Team Representative:</legend>
            <label>
                Name: <input type="text" name="member1_name"> <br>
            </label>
            <label>
                Contact Number: <input type="text" name="member1_contact"> <br>
            </label>
            <label>
                Email address: <input type="email" name="member1_email"> <br>
            </label>
        </fieldset>
        <input type="button" value="Add Member" onclick="add_member()">
        <input type="button" value="submit">
    </form>
    <script>
        var max_members = 5;
        var id_number = 2;
        var counter = 1;
        function add_member(){
            //dynamically adds a member to the team
            if(counter >= max_members){
                alert("Maximum" + max_members + "number of allowed members in a team");
            }
            else{
                counter++;
                var text =  '<fieldset id="m'+id_number+'_field"> \
                                <legend>Team Member:</legend> \
                                <label> \
                                    Name: <input type="text" name="member'+id_number+'_name"> <br> \
                                </label> \
                                <label> \
                                    Contact Number: <input type="text" name="member'+id_number+'_contact"> <br> \
                                </label> \
                                <label> \
                                    Email address: <input type="email" name="member'+id_number +'_email"> <br> \
                                </label> \
                                <input type="button" value="Remove Member" onclick="remove_member(' + "'m"+id_number+"_field'"+')"> \
                            </fieldset>';
                $("#tr_field").after(text);
            }
        }
        function remove_member(tag){
            $('#'+tag).remove()
            counter--;
        }
    </script>
{% endblock %}