{% extends 'base.html' %}
{% load staticfiles %}

{% block css%}
	<link href="{% static 'css/sponsors.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} UDYAM-2016 | Sponsors {% endblock %}

{% block body %}
    <div class="navbar-fixed color">
        <nav>
            <div class="nav-wrapper">
              <div class="brand-logo"><a href="#"><img src="{% static 'img/udyam.png' %}"></a></div>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'p_static' 'team' %}">Our Team</a></li>
                <li class="current"> Sponsors</li>
                <li><a href="{% url 'p_static' 'workshop' %}">Workshop</a></li>
                <li><a href="{% url 'p_static' 'events' %}">Events</a></li>
                <li><a href="{% url 'p_static' 'drishti' %}">Drishti</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
              </ul>
            </div>
        </nav>
    </div>
    <div class="pushdown-5p"></div>
    <div class="row center"> <h2 style="color: #888888">SPONSORS</h2></div>
    <div class="container" id="sponsors_card">
        <div class="row">
                <div class="col s12 m6 offset-l3">
                  <div class="card card_size">
                    <div class="card-image">
                      <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Mentor_Graphics_Logo.svg/1280px-Mentor_Graphics_Logo.svg.png" style="margin-top: 40px">
                    </div>
                  </div>
                </div>
        </div>
    </div>

    <div class="pushdown-5p"></div>
    <h3 style="color: #FFFFFF; text-align: center">CO <span style="color: #7f8c8d;"> SPONSORS</span></h3>
    <div class="container" id="sponsors_card">
        <div class="row">
                <div class="col s12 m4 offset-l4">
                  <div class="card card_size">
                    <div class="card-image">
                      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6d/UCO_Bank.svg/200px-UCO_Bank.svg.png" style="margin-top: 60px">
                    </div>
                  </div>
                </div>
        </div>
    </div>

    <div class="pushdown-5p"></div>
	<div id="big_wrap">
	<h3 style="color: #FFFFFF; text-align: center">PREVIOUS YEAR<span style="color: #7f8c8d;"> SPONSORS</span></h3>

		<div class="photobanner" id="banner">
        	<img class="first" src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Mentor_Graphics_Logo.svg/1280px-Mentor_Graphics_Logo.svg.png" alt="" title="mentor_graphics" />
        	<img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/21/Nvidia_logo.svg/351px-Nvidia_logo.svg.png" alt="" title="nvidia" />
        	<img src="https://upload.wikimedia.org/wikipedia/en/2/22/Freescale_Semiconductor_logo.svg" alt="" title="freescale" />
        	<img src="https://hrcdn.net/hackerrank/assets/styleguide/logo_wordmark-fa11df3d0e9d2383b1f66a868a977ce0.svg" alt="" title="hacker_rank" />
        	<img src="{% static 'img/zostel.jpg' %}" alt="" title="zostel" />
        	<img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6d/UCO_Bank.svg/200px-UCO_Bank.svg.png" alt="" title="uco_bank" />
        	<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Mentor_Graphics_Logo.svg/1280px-Mentor_Graphics_Logo.svg.png" alt="" title="mentor_graphics" />
        	<img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/21/Nvidia_logo.svg/351px-Nvidia_logo.svg.png" alt="" title="nvidia" />
        	<img src="https://upload.wikimedia.org/wikipedia/en/2/22/Freescale_Semiconductor_logo.svg" alt="" title="freescale" />
        	<img src="https://hrcdn.net/hackerrank/assets/styleguide/logo_wordmark-fa11df3d0e9d2383b1f66a868a977ce0.svg" alt="" title="hacker_rank" />
		</div>
	</div>

    <section id="sec-4">
        <footer class="page-footer green-wine">
            <div class="footer-copyright">
                <div class="container center">
                    <a class="grey-text text-darken-4 center" href="{% url 'home' %}">
                        <i class="fa fa-copyright">UDYAM-2016</i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/udyamfest" style="color:rgba(255,255,255,0.6);margin-left: -50px; margin-top: 7px; float: left">
				        <i class= "fa fa-2x fa-facebook-f"></i>
                    </a>
                </div>
            </div>
        </footer>
    </section>
{% endblock %}

{% block js %}
{% endblock %}
