/*body{
	width:100%;
	margin-right: 0px;
	margin-left: 0px;
}*/
.color{
	position: fixed;
	left:0px;
	top:0px;
	width:100%;
}

.nav-wrapper{
	width:100%;
}
.color nav{
	 background-color: rgb(20, 80, 10); 
	 /*background: red; 
	 background: -webkit-linear-gradient(rgb(20, 50, 0), rgb(10,150,0),rgb(20, 50, 0)); 
	 background: -o-linear-gradient(rgb(20, 50, 0), rgb(10,150,0),rgb(20, 70, 0)); 
	 background: -moz-linear-gradient(rgb(20, 50, 0), rgb(10,150,0),rgb(20, 50, 0)); 
	 background: linear-gradient(rgb(20, 50, 0),rgb(10,150,0),rgb(20, 50, 0)); */
	 height:90px;
	 width: 100%;
}
.color nav ul li:hover{
	background-color:rgb(0, 30, 0);

}
.color nav ul{
	position:relative;
	display: inline-block;
	width:90%;
	margin-right: 30px;
	

}
.color nav ul li{
	float: right;
	margin: auto 0;
	margin-right:2px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 1.2%;
	

}
.color nav ul li a{
	font-size: 20px;
	padding-right: 30px;
	padding-left: 30px;
	display: inline-block;
	vertical-align: middle;
	
}
.brand-logo{
	
	width:15%;
	margin-left: 0px;
	float: left;
	left:10px;
	margin-top: 1%;
	

}
.brand-logo img{
	
	width:100%;
	
	
	margin-left: 0px;
	
	
	
}
.current{
	background-color:rgb(0, 30, 0);
	padding-right: 30px;
	padding-left: 30px;
	font-size: 20px;
}